// _base.scss

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*------------*/
/*MOBILE FIRST*/
/*------------*/

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: $font-family-serif;
  font-size: 14px;
  line-height: 16px;
  color: $color-level-1;
  background-color: white;
}
/*------------*/
/*#SECTION 480*/
/*------------*/
@media (min-width: $mqMinWidth480) {

  /*----*/
  /*BODY*/
  /*----*/
  
    body {
      font-size: 16px;
      line-height: 18px;
    }
  
  }
/*-------------*/
/*#SECTION 1024*/
/*-------------*/

@media (min-width: $mqMinWidth1024) {

/*----*/
/*BODY*/
/*----*/

  body {
    font-size: 18px;
    line-height: 24px;
  }

}