// _base.scss

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*----*/
/*BODY*/
/*----*/

  body {
    font-family: $font-family-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: $uoc-color-title-font;
    color: $uoc-corporate;
    background-color: white;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    text-decoration: none;
  }