
.skinSubmitButton {
    display: block;
    background-color:$subcolor-level4 ;
    border: 2px solid $color-level-3;
    font-weight: 600;
    color: rgba(103, 103, 66, $alpha: 0.9);
    margin: 30px auto 0;
    transition: background-color 0.3s ease-out, color 0.3s ease-out,border-color 0.3s ease-out;

}

    .skinSubmitButton:hover {
        border-color: transparent; /* Mantiene el tamaño sin el salto */
        background-color: $color-level-2;
        color: $subcolor-level4;
        cursor: pointer;
    }