/*------------*/
/*MOBILE FIRST*/
/*------------*/
    
/*#SECTION FORM*/
.skinForm {
    width: 95%;
    margin: 0 auto;
    text-align: left;
}


.skinFormContainer {
    border-top: 1px solid $subcolor-level3;
    padding: 2rem 0;
    background-color: $subcolor-level1;
}


/*-------------*/
/*#SECTION 1024*/
/*-------------*/

@media (min-width: $mqMinWidth1024) {

    /*#SECTION FORM*/
    .skinForm {
        width: 50%;
        margin: 0 auto;
        text-align: left;
    }


    .skinFormContainer {
        border-top: 1px solid $subcolor-level3;
        padding: 2rem 0;
        background-color: $subcolor-level1;
    }
}