/*
* TABLE OF CONTENTS
* =====================================================
* This stylesheet follows CSS guidelines for a
* standard and scalable development process.
*
* METODOLOGIES
* -----------------------------------------------------
*   - OOCSS methodology (Object Oriented CSS)
*   - ITCSS (Stands for Inverted Triangle CSS. It helps you organize your project CSS files )
*
* SETTINGS
* -----------------------------------------------------
*   GLOBAL VARIABLE DECLARED AT ../_variables.css
*     $font-family-serif: Sets font type
*     $$color-level-N: Font color diferent levels
*     $subcolor-level1: Sub colors
*     $mqMinWidthxxx: width
*
* TOOLS
* -----------------------------------------------------
*   Mixin (Mixins for reuse across components)
*
* GENERIC
* -----------------------------------------------------
*   Box-sizing...........Better default `box-sizing`.
*   
* OBJECTS
* Global containers styles (objects)
* -----------------------------------------------------
*
* COMPONENTS
* UI Components as forms, inputs, etc
* -----------------------------------------------------
*/

/*------------*/
/*MOBILE FIRST*/
/*------------*/

/*-------------------------------*/
/*#SECTION SKIN GENERAL CONTAINER*/
/*-------------------------------*/

.skinContainer {
  padding: 2rem 1rem 0;
  background-color: #fff;
}

/*----------------------------------*/
/*#SECTION SKIN IMAGE + GENERAL INFO*/
/*----------------------------------*/

.skinWrapperContainer {
  margin: 20px 0;
}




/*------------------------*/
/*#SECTION SKIN INFO TEMPS*/
/*------------------------*/

.floatcontainer {
  align-content:center; /* Evita que se expandan innecesariamente */
  text-align: center;
}



/*---------------------------*/
/*#SECTION SKIN INFO ARTICLES*/
/*---------------------------*/

.skinInfoContainer {
  width: 100%;
  border: 2px solid $subcolor-level3;
  padding: 1rem;
  background-color: $subcolor-level2;
  vertical-align: middle;
}




/*-------------------------*/
/*#SECTION SKIN INGREDIENTS*/
/*-------------------------*/

.skinAsideContainer {
  background-color: $subcolor-level2;
  color: #34370c;
  padding: 5px 5px 5px 10px;
  border: 1px solid $subcolor-level3;
}



/*-----------------------------------*/
/*#SECTION SKIN INGREDIENTS + RECEPTA*/
/*-----------------------------------*/

.skinDetailsContainer {
  border-top: 1px solid $subcolor-level2;
}

/*---------------------*/
/*#SECTION SKIN RECEPTA*/
/*---------------------*/

.skinInstructions {
  margin: 20px 0;
  padding: 6px 0;
}




/*------------*/
/*#SECTION 480*/
/*------------*/

@media (min-width: $mqMinWidth480) {
/*------------------------*/
/*#SECTION SKIN INFO TEMPS*/
/*------------------------*/

  .floatcontainer {
    align-content:center; /* Evita que se expandan innecesariamente */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }




/*---------------------------*/
/*#SECTION SKIN INFO ARTICLES*/
/*---------------------------*/

.skinInfoContainer {
  width: 50%;
}

}



/*------------*/
/*#SECTION 768*/
/*------------*/

@media (min-width: $mqMinWidth768) {

/*----------------------------------*/
/*#SECTION SKIN IMAGE + GENERAL INFO*/
/*----------------------------------*/

.skinWrapperContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}




/*------------------------*/
/*#SECTION SKIN INFO TEMPS*/
/*------------------------*/

.floatcontainer {
  flex: 1; 
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Controla tanto el espacio horizontal como vertical */
  align-content:center; /* Evita que se expandan innecesariamente */
  text-align: center;
}




/*---------------------------*/
/*#SECTION SKIN INFO ARTICLES*/
/*---------------------------*/

.skinInfoContainer {
  width: 45%;
}

  
  
  .skinDetailsContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    padding: 3rem 5px;
    border-top: 1px solid $subcolor-level2;
  }



/*---------------------*/
/*#SECTION SKIN RECEPTA*/
/*---------------------*/

.skinInstructions {
  margin: 0;
  padding: 6px 0;
}
  
}
/*-------------*/
/*#SECTION 1024*/
/*-------------*/

@media (min-width: $mqMinWidth1024) {

/*----------------------------------*/
/*#SECTION SKIN IMAGE + GENERAL INFO*/
/*----------------------------------*/

.skinWrapperContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}




/*------------------------*/
/*#SECTION SKIN INFO TEMPS*/
/*------------------------*/

.floatcontainer {
  flex: 1; 
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Controla tanto el espacio horizontal como vertical */
  align-content:center; /* Evita que se expandan innecesariamente */
  text-align: center;
}




/*---------------------------*/
/*#SECTION SKIN INFO ARTICLES*/
/*---------------------------*/

.skinInfoContainer {
  width: 45%;
}




/*---------------------*/
/*#SECTION SKIN RECEPTA*/
/*---------------------*/

.skinInstructions {
  padding: 6px 5px;
  margin: 0;
}

}