/*
* TABLE OF CONTENTS
* =====================================================
* This stylesheet follows CSS guidelines for a
* standard and scalable development process.
*
* METODOLOGIES
* -----------------------------------------------------
*   - BEM (Block Element Modifier) methodology
*   - ITCSS (Stands for Inverted Triangle CSS. It helps you organize your project CSS files )
*
* SETTINGS
* -----------------------------------------------------
*   GLOBAL VARIABLE DECLARED AT ../_variables.css
*     $font-family-sans-serif : Sets font type
*     $font-family-serif: Sets font type
*     $uoc-corporate: Font color
*     $uoc-masterbrand: General background color
*     $uoc-bg: ligthness
*     $mqMinWidth: width
*
* TOOLS
* -----------------------------------------------------
*   Stylelint
*
*Mixins for reuse across components
* GENERIC
* -----------------------------------------------------
*   Box-sizing...........Better default `box-sizing`.
*   
* OBJECTS
* -----------------------------------------------------
*
* COMPONENTS
* -----------------------------------------------------
*/

/*----------------*/
/*#SECTION GENERAL*/
/*----------------*/

.container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.image-princial {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 100%;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

img {
  max-width: 100%;
}
