/*
* TABLE OF CONTENTS
* =====================================================
* This stylesheet follows CSS guidelines for a
* standard and scalable development process.
*
* METODOLOGIES
* -----------------------------------------------------
*   - BEM (Block Element Modifier) methodology
*   - ITCSS (Stands for Inverted Triangle CSS. It helps you organize your project CSS files )
*
* SETTINGS
* -----------------------------------------------------
*   GLOBAL VARIABLE DECLARED AT ../_variables.css
*     $font-family-sans-serif : Sets font type
*     $font-family-serif: Sets font type
*     $uoc-corporate: Font color
*     $uoc-masterbrand: General background color
*     $uoc-bg: ligthness
*     $mqMinWidth: width
*
* TOOLS
* -----------------------------------------------------
*   Stylelint
*   Mixin
*
*Mixins for reuse across components
* GENERIC
* -----------------------------------------------------
*   Box-sizing...........Better default `box-sizing`.
*   
* OBJECTS
* -----------------------------------------------------
*
* COMPONENTS
* -----------------------------------------------------
*/

/*----------------*/
/*#SECTION GENERAL*/
/*----------------*/

.container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.wrapper_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.image-princial {
  margin-bottom: 1.5rem;
  width: 100%;
  height: auto;
  flex: 1;
  max-width: 100%;
}

.img-container {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.floatcontainer {
  flex: 1; 
}


/*---------------------------------*/
/*#SECTION 2: SHOW MORE INGREDIENTS*/
/*---------------------------------*/

.ingredients-list {
  max-height: 100px;
  overflow: hidden;

}

