@use "sass:color";

$font-family-serif: "Roboto", sans-serif;

$color-level-1: #1a1a00;    ;
$color-level-2: #979762;
$color-level-3: #d8d800;

$subcolor-level1: #e5e5e5;
$subcolor-level2: #d6cccc;
$subcolor-level3: #c2bbbb;
$subcolor-level4: #FFF;
$uoc-corporate: #1a1a00;

/*BREAKPOINTS*/
$mqMinWidth480: 480px;
$mqMinWidth768: 768px;
$mqMinWidth1024: 1024px;
