
/*------*/
/*TITLES*/
/*------*/

/*--*/
/*h1*/
/*--*/

.title-level1{ /*Global settings for titles level1*/
    @include theme-title($theme: white, $margin: 0, $align: left, $font-size: 24px);
     @media (min-width: $mqMinWidth) {
       font-size: 36px;
     }
   }
   

   
/*--*/
/*h2*/
/*--*/

.title-level2 { /*Global settings for titles level2*/
    @include theme-title($theme: $uoc-color-title-font,$margin: 0 auto 30px, $align: left, $font-size: 20px);


    @media (min-width: $mqMinWidth) {
    font-size: 30px;
    }
}




/*--*/
/*h2*/
/*--*/

.title-level3 {
  @include theme-title($theme: $uoc-color-title-font, $margin: 0 auto 10px, $align: center, $font-size: 16px);


  @media (min-width: $mqMinWidth) {
  font-size: 24px;
  }
}

